body {
    background-color: aquamarine;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    padding-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

#title {
    padding: 40px;
}

/*
.calculator {
    height: 335px;
    width: 200px;
    border-radius: 10px;
    padding: 5px;
    
}
*/

.display, #main {
    background-color:black;
    height: 48px;
    color: aliceblue;
    font-size: 32px;
    max-width: 100%;
    text-align: right;
    padding-right: 5px;
}

.display.small{
    height: 12px;
    font-size: 12px;
    text-align: left;
    border-radius: 10px 10px 0 0;
}

.row {
    display: flex;
}

.btn {
    background-color: rgb(44, 44, 44);
    height: 15%;
    width: 25%;
    display: inline-block;
    padding: 20px;
    color: azure;
    border: 0.5px solid black;
}

.btn.operator, #equals {
    background-color: orange;
}

#equals {
    border-radius: 0 0 10px 0;
}

.btn.func{
    background-color: rgb(75, 75, 75);
}
.btn:hover, #equals:hover{
    background-color: azure;
    color: black;
}

#nought {
    flex: auto;
    border-radius: 0 0 0 10px;
}